{% extends "calibre-web/cps/templates/layout.html" %}

{% block header %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('_app_templates.static', filename='css/ub_shared.css') }}" />
{% endblock %}

{% block js %}
  {{ super() }}
  <div id="ub-config"
       data-is-admin="{{ 1 if current_user and current_user.role_admin() else 0 }}"
      data-is-anon="{{ 1 if current_user.is_anonymous else 0 }}"
       data-switch-url="{{ url_for('language_switch.switch_language') }}"
      data-active-lang="{{ session.get('ub_preferred_locale') or (current_user.locale if current_user and (not current_user.is_anonymous) else None) or 'lv' }}"
      data-login-url="{{ url_for('web.login', next=(request.path + '?' + request.query_string.decode('utf-8')).rstrip('?')) }}"
      data-login-label="{{ _('Login') }}"
       hidden></div>
  <script src="{{ url_for('_app_templates.static', filename='js/ub_lang_switch.js') }}"></script>
{% endblock %}
