{% extends "layout.html" %}
{% block body %}
  <section class="ub-eu-notice" role="region" aria-label="{{ _('LIAA project notice') }}">
    <div class="ub-eu-notice__inner">
      <div class="ub-eu-notice__image-wrap">
        <img class="ub-eu-notice__image" src="/app_static/icons/about-image.png" alt="{{ _('LIAA and EU support logos') }}">
      </div>
      <div class="ub-eu-notice__text">
        <p>{{ _('SIA Parakletos is implementing project LIAA contract No. 9.2-17-L-2025/871, aimed at introducing digital solutions for business development.') }}</p>
        <p>{{ _('The project is funded with support from the European Union in cooperation with the Investment and Development Agency of Latvia.') }}</p>
      </div>
    </div>
  </section>

  <h3>{{_('About')}} {{instance}}</h3>
<p>{{instance}} powered by
<a href="https://github.com/janeczku/calibre-web" title="Calibre-Web">Calibre-Web</a>.
</p>
  <h3>{{_('Library Statistics')}}</h3>
<table id="stats" class="table">
  <tbody>
    <tr>
      <th>{{bookcounter}}</th>
      <td>{{_('Books in this Library')}}</td>
    </tr>
    <tr>
      <th>{{authorcounter}}</th>
      <td>{{_('Authors in this Library')}}</td>
    </tr>
    <tr>
      <th>{{categorycounter}}</th>
      <td>{{_('Categories in this Library')}}</td>
    </tr>
    <tr>
      <th>{{seriecounter}}</th>
      <td>{{_('Series in this Library')}}</td>
    </tr>
  </tbody>
</table>
{% if current_user.role_admin() %}
  <h3>{{_('System Statistics')}}</h3>
<table id="libs" class="table">
  <thead>
    <tr>
      <th>{{_('Program')}}</th>
      <th>{{_('Installed Version')}}</th>
    </tr>
  </thead>
  <tbody>
  {% for library,version in versions.items() %}
  {% if version %}
    <tr>
      <th>{{library}}</th>
      <td>{{version}}</td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
